#App-application {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  border: 1px solid black;
  size: A4;
  margin: 0;
  padding: 20px;
  width: 210mm;
}

#App-preview {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  border: 1px solid black;
  size: A4;
  margin: 0;
  width: 210mm;
  height: 297mm;
}

#App-preview-header {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  margin-bottom: 10px;
}

#App-preview-header > h1 {
  margin-bottom: 10px;
}

#App-preview-header > button,
#App-application button {
  background: white;
  padding: 5px;
  border: 1.5px solid;
  text-transform: uppercase;
  width: 100%;
}

#App-preview-header > button:first-of-type {
  margin-bottom: 10px;
}

